body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
  background-image: url("/img/background_fullsize.jpeg");
  background-size: cover;
}

a {
  color: #00B7FF;
}

* {
  text-align: center;
}

.screenshots {
  width: 100%;
  height: auto;
  max-height: 400px;
}

.imgParent {
  width: 100%;
}
.slidePreview {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 800px;
  height: auto;
  align-self: center;
}

.menubutton a {
  font-family: "Verdana";
  font-size: 18px;
  color: white;
  text-decoration: none;
}

#evergreen {
  width: 15%;
}

ul.vertical {
  list-style-type: none;
  border-radius: 5px;
  margin: 0;
  padding: 0;
  background-color: #555555aa;
}

li.vertical {
  border-radius: 5px;
  margin: 3px;
  min-height: 20px;
  background-color: #555555FF;
}
li.vertical:hover {
  background-color: #333 !important
}
