<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="erenik.seriousgames.evergreen">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Evergreen">

        <!-- android:theme="@style/Evergreen" -->
        <activity
            android:name=".act.IntroScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" />
        <!-- android:theme="@style/FullscreenTheme" -->
        <activity
            android:name=".act.MainScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_main_screen" />
        <!-- android:theme="@style/FullscreenTheme" -->
        <activity android:name=".act.SelectActivity" />
        <activity
            android:name=".act.Startup"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".act.GameOver" />
        <activity android:name=".act.Encounter" />
        <activity android:name=".act.logViewer" android:label="@string/title_activity_log_viewer">
            <!-- android:theme="@style/AppTheme.NoActionBar" -->
        </activity>
        <activity
            android:name=".act.CreateCharacter"
            android:label="@string/title_activity_create_character"></activity>
        <activity android:name=".act.testActivity" />
    </application>

</manifest>
