extends evergreenLayout

block content
	h1 Contact

	<table cellpadding="20" id="menu" align="center">

	//p Send e-mails to <a href="mailto:assaultsevergreen@gmail.com">assaultsevergreen@gmail.com</a> <br>
	p
		| Check our 
		a(href="https://www.facebook.com/AssaultsOfTheEvergreen/") Facebook
		
	element(class="menubutton")
		a(href="/") Back
