extends layout

block content
	h1= title 
	p Emil Hedemalm (a.k.a. Erenik)
	p 
	| Welcome to my developer/server page. 
	| I do IT mostly, arts and music sometimes when inspiration strikes.
	| Hobby gamer of course.

	h2 Industry 
	ul 
		li 
			| Consultant at Netlight Consulting
		li 
			a(href='https://www.linkedin.com/in/emil-hedemalm/') LinkedIn

	h2 Academia 
	ul 
		li
			| BSc. in Games Development
		li 
			| MSc. in Pervasive Computing and Communications for Sustainable Development

	h2 Code Projects
	ul
		li  
			a(href='/evergreen') Assaults of the Evergreen
			|, a RPG/Strategy game for Android, originally designed as a persuasive game to promote greener transportation			
		li 
			a(href='https://github.com/erenik/engine/') C++ Game Engine
			|, developed as part of studies and work.

	h2 Art
	ul
		li 
			a(href='https://www.deviantart.com/erenik') DeviantArt

	h2 Music 
	ul 
		li 
			a(href='https://newgrounds.com/') Newgrounds


	element(class="menubutton")
		a(href="/") Back