extends layout

block content
	h1= title 
	p A.k.a. Emil Hedemalm
	p Welcome to my developer/server page.
	p Projects:
	ul
		li  
			#[a(href='/evergreen') Assaults of the Evergreen], a RPG/Strategy game for Android, originally designed as a persuasive game to promote greener transportation
		li 
			#[a(href='https://github.com/erenik/engine/') C++ Game Engine], developed as part of studies and work.
			
			
	p #[b Keywords:] Very coll, such awesome

