extends evergreenLayout

block content
	<img id="evergreen" src="/img/imgpsh_fullsize.png">
	p Welcome to #{title}, a serious game project about greening people's modes of transportation. Although the aim is to have change people's behaviours, or at least make people question their actions, the game is designed to be fun in itself as well.

	<table cellpadding="20" id="menu" align="center">
	tr 
		th(class='menubutton')
			a(href='/science') Science
		th(class='menubutton')
			a(href='https://www.facebook.com/AssaultsOfTheEvergreen/') FB
		th(class='menubutton')
			a(href='/dev') Author

	table(align="center")
		tr
			th
				<img class="screenshots" src="/img/ScreenshotEmu.PNG"</img></th>
			th
				<img class="screenshots" src="/img/earlyPrototype_50percent.jpg"</img></th>
			th
				<img class="screenshots" src="/img/earlyPrototype_50percent.jpg"</img></th>
	</table>

	p The game was originally developed as a scientific persuasive game, the results of which were presented at the SEEDS conference in 2017, and also published as part of a MSc. thesis. 
	
	
	p #[b Keywords:] Serious games, Pervasive games, Persuasive games, Transportation, Behaviour, Accelerometer, Smart-phones
