extends evergreenLayout

block content
	h1 The Science
	p The game was originally developed as a scientific persuasive game, the results of which were presented at the SEEDS conference in 2017, and also published as part of a MSc. thesis. 
	
	table(cellpadding="20" id="menu" align="center")
		tr
			th(class="menubutton")
				a(href="http://ltu.diva-portal.org/smash/record.jsf?pid=diva2:1136300") MSc. Thesis
			th(class="menubutton")
				a(href="http://ltu.diva-portal.org/smash/record.jsf?pid=diva2:1119550") SEEDS paper
			th(class="menubutton")
				a(href="./slides/Promoting Green Transportation_novideo.pdf") Conference Slides

	div(class="imgParent")
		img(class="slidePreview" src="/img/evergreenScience.PNG")
	
	p #[b Keywords:] Serious games, Pervasive games, Persuasive games, Transportation, Behaviour, Accelerometer, Smart-phones

	element(class="menubutton")
		a(href="/evergreen") Back
