extends layout

block content
	h1= title 
	p Welcome to #{title}, a serious game project about greening people's modes of transportation. Although the aim is to have change people's behaviours, or at least make people question their actions, the game is designed to be fun in itself as well.

	img(src="../img/earlyPrototype.png")

	p Design goals
	ul
		li Copy paste from design doc
		li Later

	p Relevant links:
	ul
		li  
			a(href='https://goo.gl/forms/6eiru0nrJLd4J45t2') Questionnaire on expectations


	p Results will be published in the form of a Master thesis and perhaps a scientific paper.

	p #[b Keywords:] Serious games, Pervasive games, Persuasive games, Transportation, Behaviour, Accelerometer, Smart-phones

