extends layout

block content
	h1= title 
	p Welcome to my developer/server page.
	p Relevant links:
	ul
		li  
			#[a(href='/evergreen') Assaults of the Evergreen], an Android Serious game for greener transportation

	p #[b Keywords:] Very coll, such awesome

